.homepage {
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;
}

.sidebar {
  display: grid;
}

.sidebar.hidden {
  width: 1vh;
  /* background-color: red; */
}

.main-container {
  height: 100vh;
  background-color: #eee; /* Example */
}