.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .center-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .right-nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

.logo-title {
    display: flex;
    align-items: center;
    gap: 0;
    padding: 0;
    margin: 0;
  }

  .logo{
    margin: 0;
    padding: 0;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }