.sidebar__items{
  margin: 0px;
  padding: 0px;
}

.sidebar__item{
  width: 100%;
}

.sidebar__navbar{
  width: 100%;
  background-color: #dcdcdc;
  padding: 5px 5px;
}

.sidebar__navbar__container{
  display: flex;
}


/* .profile-pic{
  display: inline-block;
} */

.non-pfp{
  /* display: inline-block; */
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 40px); 
}

.sidebar__subitems{
  display: grid;
}

.sidebar__item.title{
  padding: 1em;
  background-color: #dcdcdc;
}

.sidebar__item__subitem{
  padding: 0.5em 1em;
}
