.sidebar__item{
  width: 100%;
}

.sidebar__navbar{
  width: 100%;
  padding: 1em;
  background-color: #dcdcdc;
}

.sidebar__navbar__container{
  display: flex;
}

.profile-pic{
  justify-content: right;
}

.non-pfp{
  justify-content: left;
}

.sidebar__subitems{
  display: grid;
}

.sidebar__item.title{
  padding: 1em;
  background-color: #dcdcdc;
}

.sidebar__item__subitem{
  padding: 0.5em 1em;
}
