.sidebar {
  width: 25.6vw;
  height: 100vh;
  background-color: #ccc;
  transition: transform 0.3s ease;
  transform: translateX(0);
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar.hidden {
  transform: translateX(-100%);
}